.sobre{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    }
    .medicao{
        margin-top: 70px;
        display: flex;
        justify-content: space-around;
        margin: 0 6rem 6rem 3rem;
        padding: 0  2rem;   
        gap:2rem;
    }
    .medicao-item{
        width: 100%;
    }
    
    .medicao-item span{
        font-size: 3rem;
        color:var(--text-color4);
    }
    .medicao-item h3{
        font-size: 1.5rem;
        font-weight: 600;
        color:var(--text-color3);
        margin-top: 1.5rem;
    }
    .medicao-item p{
        margin-top: 1rem;
        line-height: 1.5rem;
        color:var(--text-color4);
    }